
<div *ngIf="game" class="row">
	<div class="col-md-4" *ngIf="game.players">
	    <h1><span jhiTranslate="highCouncilApp.game.players"></span></h1>
		<hr>
	    <div *ngFor="let player of game.players; trackBy: id; last as isLast">
		    <jhi-stat-display [stats]="player" [name]="player.userLogin"></jhi-stat-display>
		    <hr *ngIf="!isLast">
	    </div>
	</div>
	<div class="col-md-8">
	    <h2><span jhiTranslate="{{'highCouncilApp.Phase.' + game.phase}}">{{game.phase}}</span></h2>
	    <jhi-alert-error></jhi-alert-error>
	    <jhi-stat-display [stats]="game.kingdom" [name]="'Kingdom'"></jhi-stat-display>
		<hr>
		<div class="row">
			<div class="col-md-2">From</div>
			<div class="col-md-2">To</div>
			<div class="col-md-8">Message</div>
		</div>
		<div class="messageContainer" #messageContainer>
			<div class="row" *ngFor="let message of messages" style="margin-right: 0px">
				<div class="col-md-2">{{message.fromUser}}</div>
				<div class="col-md-2"><span *ngFor="let toUser of message.toUsers; let isLast = last">{{toUser}}<span *ngIf="!isLast">, </span></span></div>
				<div class="col-md-8">{{message.message}}</div>
			</div>
		</div>
		<div class="row">
	    	<span jhiTranslate="highCouncilApp.game.playerFilter"></span>
	    	<span *ngFor="let player of game.players; trackBy: id" >
		    	<button class="btn d-inline" type="button" aria-pressed="true"
		    		*ngIf="currentUser !== player.userLogin"
		    		[ngClass]="{'btn-primary active': discussionDestinations[player.userLogin]}"
		    		(click)="sendToggle(player.userLogin)"
		    	>
		    		{{player.userLogin}}
		    	</button>
	    	</span>
		</div>
		<div class="row">
			<input type="text" class="d-inline" style="width:89%" #newMessage></input>
			<button [disabled]="!recipientSelected" class="d-inline" style="width:10%" (click)="sendMessage(newMessage.value); newMessage.value=''"><span>Send</span></button>
		</div>
		<br/>
		<div *ngIf="numberOfOrdersToSubmit > 0">
		    <jhi-stat-display [stats]="ordersSubmitted" [name]="'Orders Submitted'"></jhi-stat-display>
	    	<button class="btn d-inline" type="button" aria-pressed="false"
	    		(click)="toggleLock()"
		    	[ngClass]="{'btn-primary active': ordersLocked}"
	    		jhiTranslate="highCouncilApp.game.lockOrders"
	    	></button>
		    <jhi-order-submit [name]="'Orders'" [numberToSubmit]="numberOfOrdersToSubmit" (submitted)="receiveOrders($event)"></jhi-stat-display>
		</div>
	</div>
	<div style="padding-top: 10px">
	    <button type="submit"
	            (click)="previousState()"
	            class="btn btn-info">
	        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	    </button>
		
	    <button type="button"
	            [routerLink]="['/', { outlets: { popup: 'game/'+ game.id + '/edit'} }]"
	            replaceUrl="true"
	            class="btn btn-primary">
	        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	    </button>
	</div>
</div>
