<ng-template #actionResolutionsHover let-action="hoverAction">
	<div class="resolutions">
		<h4><span jhiTranslate="{{'highCouncilApp.Action.' + hoverAction}}"></span> <span jhiTranslate="highCouncilApp.game.resolutions"></span></h4>
		<table class="table-striped">
			<thead>
				<tr>
					<th jhiTranslate="highCouncilApp.orderResolution.range" style="padding-right: 3px"></th>
					<th jhiTranslate="highCouncilApp.actionResolution.codeNormal"></th>
					<th jhiTranslate="highCouncilApp.actionResolution.codeChancellor"></th>
					<th jhiTranslate="highCouncilApp.actionResolution.codeKingdom"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let actionRes of actionResolutions | actionresolutionbyactionfilter:hoverAction">
					<td>{{actionRes.orderResolution.minimum}}-{{actionRes.orderResolution.maximum}}</td>
					<td><jhi-parsed-text-display [text]="actionRes.codeNormal"></jhi-parsed-text-display></td>
					<td><jhi-parsed-text-display [text]="actionRes.codeChancellor"></jhi-parsed-text-display></td>
					<td class="last"><jhi-parsed-text-display [text]="actionRes.codeKingdom"></jhi-parsed-text-display></td>
				</tr>
			</tbody>
		</table>
	</div>
</ng-template>
<ng-template #scoringHover>
	<h4><span jhiTranslate="highCouncilApp.game.scoring.title"></span></h4>
	<table>
		<thead>
		<tr>
			<th jhiTranslate="highCouncilApp.orders.action"></th>
			<th jhiTranslate="highCouncilApp.game.scoring.each"></th>
			<th jhiTranslate="highCouncilApp.game.scoring.most"></th>
			<th jhiTranslate="highCouncilApp.game.scoring.least"></th>
		</tr>
		</thead>
		<tbody>
			<tr *ngFor="let action of actions">
				<td><span class="value first {{action}}" jhiTranslate="{{'highCouncilApp.Action.'+action}}"></span></td>
				<td jhiTranslate="{{'highCouncilApp.game.scoring.'+action+'Each'}}"></td>
				<td jhiTranslate="{{'highCouncilApp.game.scoring.'+action+'Most'}}"></td>
				<td jhiTranslate="{{'highCouncilApp.game.scoring.'+action+'Least'}}"></td>
			</tr>
			<tr>
				<td><span class="value first penalty" jhiTranslate="highCouncilApp.player.penalty"></span></td>
				<td jhiTranslate="highCouncilApp.game.scoring.penaltyEach"></td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
	<br/>
	<div>
		<span class="value first Military" jhiTranslate="highCouncilApp.Action.Military"></span>
		<span jhiTranslate="highCouncilApp.game.scoring.MilitaryOther"></span>
	</div>
	<div>
		<span class="value first Favour" jhiTranslate="highCouncilApp.Action.Favour"></span>
		<span jhiTranslate="highCouncilApp.game.scoring.FavourOther"></span>
	</div>
	<br/>
	<p jhiTranslate="highCouncilApp.game.scoring.kingdomZero"></p>
	<p jhiTranslate="highCouncilApp.game.scoring.mostLeastSharing"></p>
	<p jhiTranslate="highCouncilApp.game.scoring.atLeast20"></p>
	<p jhiTranslate="highCouncilApp.game.scoring.rounding"></p>
</ng-template>
<div *ngIf="game" class="row">
	<div class="col-md-4" *ngIf="game.players">
	    <h1>
		    <span jhiTranslate="highCouncilApp.game.players"></span>
		    <span style="float: right" class="fa fa-balance-scale" [ngbPopover]="scoringHover" triggers="mouseenter:mouseleave" placement="bottom"></span>
	    </h1>
		<hr>
	    <div *ngFor="let player of game.players; trackBy: id; last as isLast">
		    <jhi-stat-display [stats]="player" [name]="player.displayName" [score]="player.score" [isChancellor]="player.chancellor"
		    	[mostStats]="mostStats" [leastStats]="leastStats"
		    >
		    </jhi-stat-display>
		    <hr *ngIf="!isLast">
	    </div>
	</div>
	<div class="col-md-8">
	    <h2><span jhiTranslate="{{'highCouncilApp.Phase.' + game.phase}}"></span>, <span jhiTranslate="highCouncilApp.game.turn"></span> {{game.turn}}</h2>
	    <jhi-alert-error></jhi-alert-error>
	    <jhi-stat-display [stats]="game.kingdom" [name]="'Kingdom'"></jhi-stat-display>
		<hr>
		<div class="row">
			<div class="col-2 col-xl-1">From</div>
			<div class="col-2 col-xl-1">To</div>
			<div class="col-8 col-xl-10">Message</div>
		</div>
		<div class="messageContainer" #messageContainer>
			<div *ngFor="let message of messages" style="margin-right: 0px">
				<div *ngIf="message.message;else turnResultButton" class="message row">
					<div class="col-2 col-xl-1">{{message.fromUser}}</div>
					<div class="col-2 col-xl-1">{{getMessageToList(message)}}</div>
					<div class="col-8 col-xl-10">{{message.message}}</div>
				</div>
				<ng-template #turnResultButton>
					<div class="turnResult row">
						<div class="col-4 col-xl-2"><span jhiTranslate="highCouncilApp.game.turn"></span> {{message.turn}}</div>
						<div class="col-8 col-xl-10">
						    <button class="btn btn-info"
						    	[routerLink]="['/', { outlets: { popup: 'turn-result/'+ game.id + '/'+ message.turn} }]"
	                            replaceUrl="true"
						    >
						        <span class="fa fa-eye"></span>
						    </button>
						</div>
					</div>
				</ng-template>
			</div>
		</div>
		<div class="row">
	    	<span jhiTranslate="highCouncilApp.game.playerFilter"></span>
	    	<span *ngFor="let player of game.players; trackBy: id" >
		    	<button class="btn d-inline" type="button" aria-pressed="true"
		    		*ngIf="currentUser !== player.userLogin"
		    		[ngClass]="{'btn-primary active': discussionDestinations[player.userLogin]}"
		    		(click)="sendToggle(player.userLogin)"
		    	>
		    		{{player.displayName}}
		    	</button>
	    	</span>
		</div>
		<div class="row">
			<textarea class="form-control d-inline" rows="2" style="width:89%" #newMessage 
				(keydown.alt.enter)="newMessage.value = newMessage.value + '\r\n'" 
				(keydown.control.enter)="newMessage.value = newMessage.value + '\r\n'" 
				(keyup.enter)="sendMessage(newMessage.value); newMessage.value=''"
			>
			</textarea>
			<button [disabled]="!recipientSelected" class="d-inline" style="width:10%" (click)="sendMessage(newMessage.value); newMessage.value=''"><span>Send</span></button>
		</div>
		<br/>
		<div *ngIf="player.ordersExpected > 0">
		    <jhi-stat-display [stats]="ordersSubmitted" [name]="'Orders Submitted'"></jhi-stat-display>
		    <div>
	            <label class="form-control-label" jhiTranslate="highCouncilApp.orders.action" for="field_action" [ngClass]="{'invalid': ordersSubmitted.action === undefined}">Action</label>
		    </div>
		    <div style="height: 30px" class="row justify-content-center" *ngIf="game.phase === 'Orders'">
		        <button class="col-2 piety value selectable first d-inline" jhiTranslate="highCouncilApp.Action.short.Piety" 
		        	[ngClass]="{'selected': ordersSubmitted.action === 'Piety'}" (click)="actionChange('Piety')"
		        	(mouseenter)="setHover('Piety')"
		        	[ngbPopover]="actionResolutionsHover" triggers="mouseenter:mouseleave"
		        >
		        </button>
		        <button class="col-2 popularity value selectable first d-inline" jhiTranslate="highCouncilApp.Action.short.Popularity" 
		        	[ngClass]="{'selected': ordersSubmitted.action === 'Popularity'}" (click)="actionChange('Popularity')"
		        	(mouseenter)="setHover('Popularity')"
		        	[ngbPopover]="actionResolutionsHover" triggers="mouseenter:mouseleave"
		        >
		        </button>
		        <button class="col-2 military value selectable first d-inline" jhiTranslate="highCouncilApp.Action.short.Military" 
		        	[ngClass]="{'selected': ordersSubmitted.action === 'Military'}" (click)="actionChange('Military')"
		        	(mouseenter)="setHover('Military')"
		        	[ngbPopover]="actionResolutionsHover" triggers="mouseenter:mouseleave"
		        >
		        </button>
		        <button class="col-2 wealth value selectable first d-inline" jhiTranslate="highCouncilApp.Action.short.Wealth" 
		        	[ngClass]="{'selected': ordersSubmitted.action === 'Wealth'}" (click)="actionChange('Wealth')"
		        	(mouseenter)="setHover('Wealth')"
		        	[ngbPopover]="actionResolutionsHover" triggers="mouseenter:mouseleave"
		        >
		        </button>
		        <button class="col-2 favour value selectable first d-inline" jhiTranslate="highCouncilApp.player.favourShort" 
		        	[ngClass]="{'selected': ordersSubmitted.action === 'Favour'}" (click)="actionChange('Favour')"
		        	(mouseenter)="setHover('Favour')"
		        	[ngbPopover]="actionResolutionsHover" triggers="mouseenter:mouseleave"
		        >
		        </button>
		    </div>
	    	<button class="btn d-inline" type="button" aria-pressed="false"
	    		(click)="toggleLock()"
		    	[ngClass]="{'btn-primary active': ordersLocked}"
		    	[disabled]="!ordersSubmitted.action 
		    		|| !checkSubmittedEqualsExpected()
		    		|| game.phase != 'Orders'"
	    		jhiTranslate="highCouncilApp.game.lockOrders"
	    	></button>
		    <jhi-order-submit [name]="'Orders'" [numberToSubmit]="player.ordersExpected" (submitted)="receiveOrders($event)"></jhi-stat-display>
		</div>
	</div>
</div>
