
<div *ngIf="game" class="row">
	<div class="col-md-4" *ngIf="game.players">
	    <h1><span jhiTranslate="highCouncilApp.game.players"></span></h1>
		<hr>
	    <div *ngFor="let player of game.players; trackBy: id; last as isLast">
		    <jhi-stat-display [stats]="player" [name]="player.userLogin"></jhi-stat-display>
		    <hr *ngIf="!isLast">
	    </div>
	</div>
	<div class="col-md-8">
	    <h2><span jhiTranslate="{{'highCouncilApp.Phase.' + game.phase}}">{{game.phase}}</span></h2>
	    <jhi-alert-error></jhi-alert-error>
	    <jhi-stat-display [stats]="game.kingdom" [name]="'Kingdom'"></jhi-stat-display>
		<hr>
		<div class="row">
		    <div>
		    	<span jhiTranslate="highCouncilApp.game.playerFilter"></span>
		    	<button class="btn d-inline" type="button" aria-pressed="true"
		    		*ngFor="let player of game.players; trackBy: id" [ngClass]="{'btn-primary active': discussionDestinations[player.userLogin]}"
		    		(click)="sendToggle(player.userLogin)"
		    	>
		    		{{player.userLogin}}
		    	</button>
		    </div>
		    <div><textarea rows="5">{{messages}}</textarea></div>
			<input type="text" class="d-inline" style="width:89%" #newMessage></input>
			<button class="d-inline" style="width:10%" (click)="sendMessage(newMessage.value)"><span>Send</span></button>
		</div>
	</div>
	<div style="padding-top: 10px">
	    <button type="submit"
	            (click)="previousState()"
	            class="btn btn-info">
	        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	    </button>
		
	    <button type="button"
	            [routerLink]="['/', { outlets: { popup: 'game/'+ game.id + '/edit'} }]"
	            replaceUrl="true"
	            class="btn btn-primary">
	        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	    </button>
	</div>
</div>
