<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGameLabel" jhiTranslate="highCouncilApp.game.home.createOrEditLabel">Create or edit a Game</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!game.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="game.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="highCouncilApp.game.timeLimitSeconds" for="field_timeLimitSeconds">Time Limit Seconds</label>
            <input type="number" class="form-control" name="timeLimitSeconds" id="field_timeLimitSeconds"
                [(ngModel)]="game.timeLimitSeconds"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="highCouncilApp.game.phase" for="field_phase">Phase</label>
            <select class="form-control" name="phase" [(ngModel)]="game.phase" id="field_phase" >
                <option value="Forming">{{'highCouncilApp.Phase.Forming' | translate}}</option>
                <option value="Orders">{{'highCouncilApp.Phase.Orders' | translate}}</option>
                <option value="Intrigue">{{'highCouncilApp.Phase.Intrigue' | translate}}</option>
                <option value="Completed">{{'highCouncilApp.Phase.Completed' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="highCouncilApp.game.turn" for="field_turn">Turn</label>
            <input type="number" class="form-control" name="turn" id="field_turn"
                [(ngModel)]="game.turn" required min="1" />
            <div [hidden]="!(editForm.controls.turn?.dirty && editForm.controls.turn?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.turn?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.turn?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.turn?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="highCouncilApp.game.kingdom" for="field_kingdom">Kingdom</label>
            <select class="form-control" id="field_kingdom" name="kingdom" [(ngModel)]="game.kingdomId">
                <option [ngValue]="null"></option>
                <option [ngValue]="kingdomOption.id" *ngFor="let kingdomOption of kingdoms; trackBy: trackKingdomById">{{kingdomOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="highCouncilApp.game.deck" for="field_deck">Deck</label>
            <select class="form-control" id="field_deck" name="deck" [(ngModel)]="game.deckId">
                <option [ngValue]="null"></option>
                <option [ngValue]="deckOption.id" *ngFor="let deckOption of decks; trackBy: trackDeckById">{{deckOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
