.messageContainer {
	max-height: 200px;
	overflow-y: auto;
	margin-right: 5px;
}

.message.row, .turnResult.row {
	border-top-style: 1px;
	border-color: gray;
}

.turnResult.row {
	background-color: #EEE;	
}

.value {
    border-radius:5px;
    border-style: solid;
    border-left-style: none;
    border-width: 1px;
    border-color: gray;
    padding-right: 4px;
    padding-left: 10px;
}

.value.selectable {
    opacity: 0.5;
}

.value.first {
    border-left-style: solid;
}

.value.selected {
    border-width: 3px;
    border-color: black;
    opacity: 1.0;
    &.popularity, &.favour {
    	border-color: #999999;
    }
}

.message {
	white-space: pre-wrap;
	font-size: 0.8rem;
}

.resolutions {
	td {
	    border-width: 1px;
	    border-style: none;
	    border-right-style: solid;
    	border-color: #999999;
	    
	    &.last {
	    	border-right-style: none;
	    }
	}
}
