<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGameLabel" jhiTranslate="highCouncilApp.game.home.createOrEditLabel">Create or edit a Game</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="highCouncilApp.game.randomOrderNumber" for="field_randomOrderNumber"></label>
            <input type="number" class="form-control" name="randomOrderNumber" id="field_randomOrderNumber"
                [(ngModel)]="game.randomOrderNumber" required min="1" />
            <div [hidden]="!(editForm.controls.randomOrderNumber?.dirty && editForm.controls.randomOrderNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.randomOrderNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.randomOrderNumber?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.randomOrderNumber?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="highCouncilApp.game.playersNumber" for="field_playersNumber"></label>
            <input type="number" class="form-control" name="playersNumber" id="field_playersNumber"
                [(ngModel)]="game.playersNumber" required min="3" max="5" />
            <div [hidden]="!(editForm.controls.playersNumber?.dirty && editForm.controls.playersNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.playersNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.playersNumber?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 3 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.playersNumber?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ min: 5 }">
                    This field should be at most 5.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.playersNumber?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
