.value {
    border-radius:5px;
    border-style: solid;
    border-left-style: none;
    border-width: 1px;
    border-color: black;
    padding-right: 4px;
    padding-left: 10px;
    min-height: 43px; 
}

.value.first {
    border-left-style: solid;
}

input[type=number] {
	width: 53px;
	display: inline;
    border-radius:5px;
    opacity: 0.8;
} 