$piety-forecolor:             black;
$piety-backcolor:             white;
$penalty-backcolor:           black;
$penalty-forecolor:           white;
$military-forecolor:          white;
$military-backcolor:          #c61a00;
$popularity-forecolor:        white;
$popularity-backcolor:        #00098c;
$favour-forecolor:            white;
$favour-backcolor:            #52208e;
$wealth-forecolor:            black;
$wealth-backcolor:            #d3d617;
$intrigue-forecolor:          white;
$intrigue-backcolor:          #03680b;
$health-forecolor:            white;
$health-backcolor:            #ad6800;
$most-color:             	  #6225A2;
$least-color:             	  #A2A2A2;
