@import "../../../content/scss/custom-variables";

$chancellor-backcolor: #B288ff;

.chancellor {
	background-color: $chancellor-backcolor;
    border-radius:5px;
}

.value {
    border-radius:5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-right: 4px;
    padding-left: 10px;
}

.value.most {
    border-color: $most-color;
    font-weight: 900;
    border-width: 3px;
}
.value.least {
    border-color: $least-color;
    color: $least-color;
    font-weight: 700;
    border-width: 2px;
}