$chancellor-backcolor: #B288ff;

.chancellor {
	background-color: $chancellor-backcolor;
    border-radius:5px;
}

.value {
    border-radius:5px;
    border-style: solid;
    border-left-style: none;
    border-width: 1px;
    border-color: black;
    padding-right: 4px;
    padding-left: 10px;
}

.value.first {
    border-left-style: solid;
}
